# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/
.next/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
logs/
*.log